   @import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Open+Sans&display=swap');
   
@font-face {
  font-family: 'TTHoves-Light';
  src:
    url('./fonts/TTHoves-Light.woff') format('woff'),
    url('./fonts/TTHoves-Light.woff2') format('woff2'),
      url('./fonts/TTHoves-Black.woff') format('woff'),
        url('./fonts/TTHoves-Black.woff2') format('woff2');
  font-style: normal;
}






*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body { 
  font-family: 'TTHoves-Light', sans-serif;
  font-style: normal;
  background-color: #FFF;
  color: #111111;
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100%;



 

}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}


a {
  text-decoration: none;  
 }
